*{
    font-family: Arial, Helvetica, sans-serif;
}
/* section 4 & 5 start */
.section5,
.section4{
    display: flex;
    gap: 60px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}
.section4 h4,
.section5 h4{
    margin-bottom: 0;

}
.section4 p,
.section5 p{
    width: 200px;
    font-size: 13px;
    color: rgb(103, 102, 102);
}

.section4 a,
.section5 a{
    color: rgb(103, 102, 102);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.section4 span,
.section5 span{
    border-bottom: 1px solid rgb(103, 102, 102);
}
/* section 4 & 5 end */


/* section 6 start */
.section6{
    background-color: #6d48e5;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.section6-div1{
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.section6 h2{
    font-size: 15px;
}
.section6 p{
    font-size: 11px;
}

.section6-div1 .p1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;

}
.section6 a{
    color: white;
    font-size: 11px;


}

/* section 6 end */

/* section 7 start */

.section7{
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 100px;

}
.section7-left-part div{
    display: flex;
    
}
.section7-left-part-divs div{
    display: flex;
    flex-direction: column;

}
.section7-left-part-divs img{
    margin-top: 20px;
    margin-right: 20px;
}
.section7-left-part-divs h4{
    margin-bottom: 0;
}
.section7-left-part-divs p{
    color: rgb(103, 102, 102);
    width: 300px;
    font-size: 14px;
}
/* section 7 end */


/* section 8 start */
.section8{
    background-color:#f6f6fd ;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section8-p1{
    font-size: 10px;
    color: rgb(103, 102, 102);

}
.section8 h1{
    font-size: 18px;
}
input{
    padding: 10px 50px;

}
.section8 button{
    background-color: #6d48e5;
    color: white;
    padding: 13px 94px;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
}
.section8-p2{
    font-size: 11px;
    color: rgb(103, 102, 102);
}
/* section 8 end */


/* footer start */
footer{
    background-color:#f6f6fd ;
    text-align: center;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    color: rgb(103, 102, 102);

}
.footer-p2{
    margin-left: 130px;
    font-size: 12px;
}
.footer-p1{
    color: #6d48e5;
    font-weight: bold;

}
footer a{
    font-size: 12px;   
    color: rgb(103, 102, 102);
    margin-right: 10px;
    text-decoration: none;

}
/* footer end */


/* media */
@media (max-width : 376px) {
    .section5,
    .section4{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .section5{
        display: flex;
        flex-direction: column-reverse;
    }
    .section6{
        background-color: #6d48e5;
        color: white;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .section6-div1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }


    .section7{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 40px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .section7-right-part img{
        width: 360px;
 
    }
   
    .section7-left-part-divs{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    
    }
    .section7-left-part-divs img{
        margin: 0;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: center

    
    }
    .links{
        display: flex;
    }
    .footer-p2{
        margin-left:0;
        font-size: 12px;
    }
        
}